.c-profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  &__card {
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    p{
        font-size: 60px;
    }
  }
}
