.c-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  position: relative;
  &__wrapper {
    position: relative;
  }
  &__slide {
   display: none;
  }
  &__active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 0.5rem;
    text-align: center;
    height: 70vh;
    @media screen and (min-width: 1024px) {
        margin: 0 3rem;
    }
  }
  &__img {
    width: 80%;
    max-width: 200px;
    border-radius: 5%;
  }
  &__name {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.5;
  }
  &__arrow {
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    font-size: 2rem;
    border: none;
    background: none;
    cursor: pointer;
    @media screen and (min-width: 1024px) {
        top: 50%;
        font-size: 6rem;
    }
    &--left {
        left: 0;
    }
    &--right {
        right: 0;
    }
  }
  &__pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    
    &-bullet {
        all: unset;
        width: 10px;
        height: 10px;
        margin: 0 5px;
        border-radius: 50%;
        border: none;
        background-color: #aaa;
        cursor: pointer;
        outline: none;
        &:focus {
            border: solid 1px blue;
        }
        &--active {
            background-color: #010101;
        }
    }
  }
}
